/* Global Atributes */ 

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'nyt-imperial', georgia,'times new roman',times,serif;
	font-weight: 400;
	font-size: 20px;
}

a{
	text-decoration: none;
}

h1 {
	line-height: 1.8em;
	font-size: 38px;
	font-style: italic;
}

/* Navigation section including logo */

nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding-left: 144px;
	border-bottom: 1px solid lightgrey;
}

.nav__rightside button {
	background-color: white;
	border: none;
	border-radius: 3px;
	height: 34px;
	width: 34px;
}
.nav__rightside button:hover {
	cursor: pointer;
	background-color: #f7f7f7;
	border: 1px solid black;
}
.nav__rightside a {
	font-family: 'Franklin Gothic Medium';
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	color: black;
}
.nav__rightside a:hover {
	text-decoration: underline;
}
.fa-bars {
	color: #333333;
}
.fa-search {
	color: #333333;
}
.logo {
}
.logo img {
	height: 30px;
	width: 200px;
}
.nav__leftside {
	
}
.nav__leftside button {
	background-color: #567b95;
	color: white;
	font-family: 'Franklin Gothic Medium';
	font-weight: 400;
	border-radius: 3px;
	border: none;
	height: 30px;
}
.nav__leftside button:hover {
	background-color: #326891;
	cursor: pointer;
	border: 3px solid black;
}
.box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.social {
	text-align: right;
}
.social svg {
	margin-right: 10px;
	height: 10px;
	width: 10px;
}
.circle svg {
	border-radius: 50%;
	background-color: #eeeeee;
	align-items: center;
	height: 30px;
	width: 30px;
}

/* Main content */
#main {
	display: flex;
	margin-left: 353px;
}

#main > aside {
	flex: 0 0 20vw;
	background: beige;
}
#main > nav {
	order: -1;
}

.center {
	text-align: center;
}

p[rel='little-text'] {
	font-size: 14px;
	color: #444;
}
/* Content aligment text */
#container-text {
	display: grid;
	justify-items: center;
	width: 100%;
}

.content-text {
	justify-self: center;
	width: 45%;
	line-height: 1.5em;
}

.main_img1 {
	position: relative;
}
.main_img1 img {
	height: 100% !important;
	width: 100% !important;
}
header,
footer,
article,
nav,
aside {
	padding: 1em;
}
header,
footer {
	background: white;
	height: 60px;
}
